.external-tab-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.external-tab-title {
  font-size: 16px;
  background-color: var(--color-primary);
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  color: var(--color-secondary-l1);
}

.external-image img {
  margin-top: 5px;
  width: 280px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.external-tab-attributes {
  width: 300px;
  font-size: 8px;
}

/* ********************************** */
.divider {
  width: 80%;
}

label {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.7;
}

.sub-field {
  padding-left: 10px;
}

/* ********************footer-section******************************** */
.external-tab-footer {
  margin-top: 50px;
}

.button-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
::ng-deep app-custom-buttons button {
  height: 35px; /* Set desired height */
  width: 180px;
  display: flex;
  justify-content: center;
}

::ng-deep .tag-button app-custom-buttons button {
  width: 150px;
}
