.header {
  display: flex;
  justify-content: space-between;
  background-color: #3c71a6;
  cursor: move;
}

.action-btn {
  background-color: #3c71a6;
}

.header h2 {
  padding-left: 20px;
  padding-top: 8px;
  color: var(--color-text-inverse);
  font-size: 1.2rem;
}

.close-button {
  background: none;
  color: var(--color-text-inverse);
  border: none;
  margin-right: 5%;
  margin-top: 4%;
}

.tb_row {
  height: 35px !important;
  display: flex;
  align-items: center;
}

.tb_row_2 {
  height: 40px !important;
}

.name_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.name_checkbox_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.color-name {
  display: flex;
  gap: 7px;
  align-items: center;
}

.layer-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
  text-align: justify;
  font-size: 0.79rem;
}

.color-display {
  display: flex;
  flex-direction: row;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

input[type='checkbox'] {
  transform: scale(1.1);
  /* Adjust the scale as needed */
}

.edit-delete {
  margin-left: 20px;
  display: flex;
  gap: 6px;
}

.exp-header {
  background-color: var(--color-primary) !important;
  color: var(--color-text-inverse) !important;
}

.expanded-header {
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
}

.expansion-panel {
  margin-bottom: 15px;
}

.exp-title {
  color: var(--color-text-inverse);
  font-size: 1rem;
}

.expcontent {
  margin: 10px;
}

.mat-typography {
  margin: 5px;
}

.edit-delete button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  background-color: none;
}

.edit-delete button:hover {
  background-color: rgba(71, 92, 110, 0.5);
  cursor: pointer;
}

.small-icon {
  font-size: 16px;
  /* Adjust size as needed (default is 24px) */
}

.exp-header.mat-expansion-panel-header:hover,
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled='true']):hover,
.mat-expansion-panel-header.mat-expanded {
  background-color: #3c71a6 !important;
}

.mat-expansion-panel-header.mat-expanded {
  height: 48px;
}

.custom-tooltip * {
  width: 280px;
}
