.image-container {
  min-height: 100px;
  position: relative;
  width: 290px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: height 0.3s ease;
}

.parcel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.upload-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-primary-d1)
  ); /* Gradient background */
  color: white;
  border: none;
  border-radius: 50%; /* Circular shape */
  width: 40px;
  height: 40px; /* Consistent sizing for circular shape */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth animation */
}

.upload-button:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Enhanced shadow effect */
}

.upload-button:active {
  transform: scale(0.95); /* Slight shrink on click */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Softer shadow */
}

.loading-spinner {
  font-size: 14px;
  color: #888;
}
