h2 {
  font: bold;
}

.inputfield_1 {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 0;
  border-radius: 5px;
  border: 2px solid var(--color-secondary-d3);
}
.form-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 0px;
  padding: 0px;
  align-items: center;
}
.password {
  display: flex;
  flex-direction: row;
  border: none;
  text-align: start;
  padding-left: 10px;
  flex: 1;
}
.form_txt {
  border: none;
  background-color: var(--color-secondary-d3);
  color: var(--color-text-inverse);
  padding: 2px 10px;
  margin: 0;
  height: auto;
  pointer-events: none;
}
.toggle-password {
  position: absolute;
  right: 10px;
  top: calc(24px);
  cursor: pointer;
  color: #666;
  display: flex;
  align-items: center;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.toggle-password:hover {
  color: #000;
}
