.data-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.data-table th,
.data-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.data-table tbody tr {
  cursor: pointer;
}

.data-table tbody tr:hover {
  background-color: #f1f1f1;
}

.active-row {
  background-color: #c0e4ff;
  font-weight: bold;
}

.remove-button {
  background-color: var(--color-secondary-l2);
  border: transparent;
  border-radius: 10px;
  padding: 5px 10px;
}

.remove-button:hover {
  background-color: var(--color-secondary);
  color: white;
}
