.input-fields {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.text-input-field {
  display: flex;
  flex-direction: row;
  background-color: var(--color-secondary-l2);
  border-radius: 10px;
  margin-top: 10px;
}

.text-input-label {
  padding: 10px;
  background-color: var(--color-primary);
  color: var(--color-secondary-l1);
  border-radius: 10px 0 0 10px;
  width: 30%;
}

.text-input {
  border-radius: 0 10px 10px 0;
  border-color: transparent;
  background-color: transparent;
  width: 70%;
}

.text-input:focus {
  outline: transparent;
}

/* ** dropdown ** */
.dropdown {
  display: flex;
  flex-direction: row;
  background-color: var(--color-secondary-l2);
  border-radius: 10px;
  margin-top: 10px;
}

.dropdown-label {
  padding: 10px;
  background-color: var(--color-primary);
  color: var(--color-secondary-l1);
  border-radius: 10px 0 0 10px;
  width: 30%;
}

.dropdown-select {
  border-radius: 0 10px 10px 0;
  border-color: transparent;
  background-color: transparent;
  width: 70%;
}

.dropdown-select:focus {
  outline: transparent;
}

mat-dialog-content {
  position: relative;
  /* Required so overlay positions correctly */
}
