.form-field {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #475c6e;
  color: var(--color-text-inverse);
}

.header h2 {
  color: var(--color-text-inverse);
}

.close-button {
  background: none;
  color: var(--color-text-inverse);
  border: none;
  margin-right: 5%;
  margin-top: 4%;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 6px;
}

.sub-form-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 2px;
}
.form_txt {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
  padding: 2px 10px;
  margin: 0;
  height: auto;
  pointer-events: none;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0px;
  padding: 0px;
  align-items: center;
}
.inputfield_1,
.inputfield_2,
.inputfield_3 {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 0;
  border-radius: 5px;
  border: 2px solid var(--color-primary);
}

.inputfield_1,
.inputfield_2,
.inputfield_3 {
  flex: 1 !important;
}

.input {
  display: flex;
  border: none;
  text-align: left;
  flex: 1;
}

.cancel-button {
  color: gray !important; /* Change text color */
  background-color: transparent;
}
